Django==1.3
PyYAML==3.09
Twisted==8.2.0
boto==2.0
demjson==1.5
feedparser==4.1
morbid==0.8.7.3
oauth==1.0.1
orbited==0.7.10
python-dateutil==1.2
pytz==2011h
stomper==0.2.4
South==0.7.3
vendor/python-openid-2.2.5.tar.gz
vendor/stomp.py-3.0.2a.tar.gz
vendor/celery-2.2.7.zip
vendor/django-celery-2.2.4.tar.gz
django-sentry==1.8.3.1
