<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="{{MEDIA_URL}}js/closure/goog/base.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/ll-deps.js"></script>
    <script type="text/javascript">
      goog.require('goog.events');
      goog.require('goog.events.KeyCodes');
      goog.require('goog.testing.jsunit');
      goog.require('goog.testing.events');
      goog.require('goog.debug.Logger');
      goog.require('goog.ui.Component');
    </script>
    <script type="text/javascript">
      {% block requires %}{% endblock %}
    </script>
  </head>
  <body>
    <div id="testcontrol"></div>
    <script>
      {% block testscript %}{% endblock %}
    </script>
  </body>
</html>
