.conversation {
   border-top: 1px solid #eee;
border-bottom: 1px solid #ddd;
   padding-top: 10px;
height: 250px;
overflow: auto;
width: 100%;
}

.conversation a {
   display: block;
   float: right;
   background-color: green;
   color: white;
   padding: 8px;

}

.leftCol {
   float: left;
   width: 300px;
margin-top: 18px;
font-weight: bold;
}

.leftCol img{
margin-bottom: 10px;
}


.rightCol {
   margin: 18px 0 0 340px;
border: 1px solid #aaa;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
height: 427px;
position: relative;
}


.rightCol h2{
   margin: 0;
   display: inline;
   padding: 20px;
   line-height:3.7em;
 }


.name {
   float: left;
   width: 60px;
font-weight: bold;
margin-left: 20px;
color: white;
padding: 3px 0 3px 10px;
-moz-border-radius: 3px;
-webkit-border-radius: 5px;

}

.talk {
padding: 3px 3px 10px 110px;
border-bottom: 1px solid #ddd;
}

.talk-correction {
   background-color: #CFC;
padding: 3px 3px 3px 110px;
   color: #040;
}

.name-a {
background: #8c0808;
}

.name-b {
background: #2a6082;
}

.utterance {
   margin-bottom: 8px;
}

.chat-input {
   width: 518px;
   padding: 8px;
   font-size: 18px;
   margin: 10px;
position: absolute;
bottom: 0px;
 
}

.grammarDialog {
   position: absolute;
   top: -50px;
   left: 550px;
}

.grammarDialog .popupContent {
   width: 376px;
   height: 276px;
   background-color: #E0E0E0;
   padding: 12px;
   overflow-y: auto;
}

.grammarDialog .popupTopLeft {
   background-position: -15px -20px;
   height: 10px;
   width: 10px;
}

.grammarDialog .popupTopCenter {
   height: 10px;
   background-position: 0 -345px;
}

.grammarDialog .popupTopRight {
   background-position: -25px -20px;
   height: 10px;
   width: 10px;
}

.grammarDialog .popupMiddleLeft {
   background-position: -50px 0;
   width: 10px;
}

.grammarDialog .popupMiddleRight {
   background-position: -60px 0;
   width: 10px;
}

.grammarDialog .popupBottomLeft {
   background-position: -35px 0;
   width: 10px;
   height: 30px;
}

.grammarDialog .popupBottomCenter {
   height: 30px;
   background-position: 0 -355px;
}

.grammarDialog .popupBottomRight {
   background-position: -45px 0;
   width: 10px;
   height: 30px;
}

span.highlighted {
   background-color: #FFC898;
}

.grammarDialog h2 {
   padding: 0;
   margin: 0;
}

h2.translation {
   font-style: italic;
   font-size: 14px;
}

h3.sectionTitle {
   font-size: 12px;
}

span.verb {
   color: #009;
   font-weight: bold;;
}

div.example {
   font-style: italic;
}


.top-score-list{
margin: 0;
padding: 0;
}


.top-score-list li{
margin: 0 0 5px;
padding: 0;
list-style: none;
float: left;
clear:both;
width: 100%;
padding: 0px 0 0px 5px;
-moz-border-radius: 3px;
-webkit-border-radius: 5px;
background: #eee;
font-weight: normal;
}


.top-score-list li.top{
font-weight: bold;
background: #ceedcf;
}

.top-score-list li.top .scorer-score{
background: #a0cca1;
}

.top-score-list li .scorer-name{
float: left;
padding: 3px 0 3px 0px;
}


.top-score-list li .scorer-score {
float: right;
padding: 3px 5px 3px 5px;
-moz-border-radius: 3px;
-webkit-border-radius:3px;
background: #ddd;
}


.scores {
   float: left;
   width: 320px;
   height: 40px;
   color: white;
}

.scores div{
float: left;
padding: 5px 15px;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
background: #eee;
margin: 0 20px;
font-size: 12px;
font-weight: bold;
}


.scores div.me{
   background: #8c0808;
   
}

.scores div.other{
   background: #2a6082;
}


.timer{
float: left;
width: 144px;
height: 25px;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
background: #ccc;
margin: 0px 10px 20px 0;
font-weight: bold;
}

.time-left{
padding: 5px 17px 0 15px;
float:left;
}

.time{
padding: 4px 15px;
float:right;
margin: 1px;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
background: #fff;
}

.timer-notmuchtime .time {
   font-weight: bold;
   color: red;
}

.reminder {
   margin: 18px;
   font-style: italic;
}

.conceptExample {
   margin: 18px 30px;
   border-collapse: collapse;
   background-color: #FFFFCC;
   border: 10px solid #FFFFCC;
}
.conceptExample th, .concept th {
   background-color: #990000;
   color: white;
   padding: 6px;
   margin: 0px 0px 8px;
}
.conceptExample td {
   padding: 5px;
}
.conceptExample p {
   margin: 0px;
}
.concept {
   margin-top: 6px;
}
.concept td {
   padding: 4px 0px;
   text-align: center;
}
.conceptList li {
   margin-bottom: 6px;
}