<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    {% block css %}{% endblock %}
    <script type="text/javascript" src="{{MEDIA_URL}}js/closure/goog/base.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/ll-deps.js"></script>
    <script type="text/javascript">
      goog.require('goog.debug.Logger');
      goog.require('goog.debug.FancyWindow');
      goog.require('goog.ui.Component');
    </script>
    <script type="text/javascript">
      var debugWindow = new goog.debug.FancyWindow('main');
      debugWindow.setEnabled(true);
      debugWindow.init();
    </script>
    <script type="text/javascript">
      {% block requires %}{% endblock %}
    </script>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
