{% extends "jsdemo/base.html" %}
{% block css %}
<link rel="stylesheet" media="screen" type="text/css" href="{{MEDIA_URL}}css/timeribbon.css"/>
{% endblock %}
{% block requires %}
  goog.require('ll.SchedulingWidget');
{% endblock %}
{% block content %}
<div id="div"></div>
<script type="text/javascript">
  var widget = new ll.SchedulingWidget();
  var component = new goog.ui.Component();
  component.decorate(goog.dom.getElement('div'));
  component.addChild(widget, true);
</script>
{% endblock %}
